@import "fonts.scss";
@import "colors.scss";

html,
body {
  font-size: 1rem;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: Poppins-Regular, sans-serif;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $off-white;
  color: $dark;
  padding: 1em;
}

#home {
  flex: 1;
  display: flex;
}

.floating-action-btn {
  position: fixed;
  right: 1em;
  bottom: 2em;
  z-index: 1;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: $purple;
  border: none;
  color: $white;
  font-size: 2em;
}

#trip-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.todo-card {
  margin: 1em 0;
  background-size: cover;
  color: $dark;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 14em;
  width: 100%;
  display: grid;
  grid-template-areas:
    "mn mn mn mn mn mn cn"
    "mn mn mn mn mn mn cn"
    "mn mn mn mn mn mn cn"
    "mn mn mn mn mn mn cn"
    "ft ft ft ft ft ft ft";
  .todo-card-main {
    grid-area: mn;
    padding: 1em;
  }
  .todo-card-controls {
    grid-area: cn;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(150, 0, 0, 0.2);
  }
  .todo-card-footer {
    grid-area: ft;
    background-color: rgba(0, 0, 0, 0.8);
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1em;
  }
}
