@import "fonts.scss";
@import "colors.scss";

html,
body {
  font-size: 1rem;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: Poppins-Regular, sans-serif;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
  display: flex;
  min-height: calc(100vh - 6em);
  flex-direction: column;
  background-color: $off-white;
  color: $dark;
  padding: 1em;
}

#home {
  flex: 1;
  display: flex;
}

.floating-action-btn {
  position: fixed;
  right: 1em;
  bottom: 2em;
  z-index: 1;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: $purple;
  border: none;
  color: $white;
  font-size: 2em;
}

#trip-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.todo-card {
  margin: 1em 0;
  background-size: cover;
  color: $dark;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 14em;
  width: 100%;
  display: grid;
  grid-template-areas:
    "mn mn mn mn mn cn"
    "mn mn mn mn mn cn"
    "mn mn mn mn mn cn"
    "mn mn mn mn mn cn"
    "ft ft ft ft ft ft";
  .todo-card-main {
    grid-area: mn;
    padding: 1em;
    .info-container {
      background: rgba(255, 255, 255, 0.3);
      padding: 0.5em;
    }
    .info {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: $dark;
      text-shadow: 1px 1px $purple, -1px 1px yellow;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }
    .leading {
      width: 2.5em;
    }
    img {
      height: 1.81em;
    }
    .trailing {
      padding-left: 1em;
      flex: 1;
    }
  }
  .todo-card-controls {
    grid-area: cn;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(68, 68, 68, 0.3);
  }
  .todo-card-footer {
    grid-area: ft;
    background-color: rgba(85, 85, 204, 0.8);
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 1em;
    font-size: 1.2em;
  }
  i {
    color: $white;
    font-size: 1.5em;
  }
}

#trip-details {
  .header-image {
    min-height: 16em;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .info {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-gap: 1em;
  }
}

@media (min-width: 768px) {
  #trip-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
}

@media (min-width: 1024px) {
  #trip-list-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
